# This config is generated with ansible role martin-v.nginxhttpsonly
# https://github.com/martin-v/ansible-nginxhttpsonly

server {
  listen 80 default_server;
  listen [::]:80 default_server ipv6only=on;

  server_name {{ nginx_https_server_name | mandatory }};

  location /.well-known/acme-challenge/ {
      default_type "text/plain";
      alias /var/www/letsencrypt.sh/;
      try_files $uri =404;
  }

  location / {
    return 301 https://{{ nginx_https_server_name | mandatory }}$request_uri;
  }
}
