# This config is generated with ansible role martin-v.nginxhttpsonly
# https://github.com/martin-v/ansible-nginxhttpsonly

ssl_prefer_server_ciphers on;
ssl_protocols {{ nginx_https_ssl_protocols }};
ssl_ciphers '{{ nginx_https_ssl_ciphers }}';
ssl_dhparam {{ nginx_https_dhparam_path }};

# Disable ssl_session_cache because it breaks PFS
# https://timtaubert.de/blog/2014/11/the-sad-state-of-server-side-tls-session-resumption-implementations/
ssl_session_cache off;
ssl_session_tickets off;

ssl_stapling on;
ssl_stapling_verify on;


add_header Strict-Transport-Security {{ nginx_https_strict_transport }};

server_tokens {{ nginx_server_tokens }};
